<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
	<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<h1 align="center" style="margin-top: 60px;">Alocar Residentes na 
		<span class="font-weight-bold" th:text="${residencia.nome}"></span>
		</h1>
		<h4 align="center">Vagas disponíveis: 
		<span class="font-weight-bold" th:text="${residencia.totalVagas}"></span></h4>
		
		<hr style="margin: 10px 0;">

		<div class="form-inline" th:object="${residencia}">
			
			<form th:action="@{/residencias/alocar/{id} (id = ${residencia.id})}" method="post"  class="input-group">

				<div class="form-group" style="margin-right: 40px;">
					<label for="piso" style="margin-right: 10px;">Piso</label>
					<select th:field="*{quartos}"
						class="form-control">
						<option
							th:each="i : ${#numbers.sequence(1, residencia.quantPisos)}"
							th:value="${i}" th:text="${i}">
						</option>
					</select>
				</div>
				
				<div class="form-group" style="margin-right: 40px;">
					<label for="quarto" style="margin-right: 10px;">Quarto</label>
					<select
						th:field="*{quartos}" class="form-control">
						<option
							th:each="i : ${#numbers.sequence(1, residencia.quantQuartosPorPiso)}"
							th:value="${i}" th:text="${i}"></option>
					</select> 
				</div>
				
				<div class="form-group" th:object="${residente}">
					<label for="residente" style="margin-right: 10px;">Matrícula</label> 
					<select name="residente.id" class="form-control" style="width: 300px;">
						<option th:each="residente : ${residentes}"
							th:value="${residente.id}" th:text="${residente.matricula}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<input class="btn btn-primary" type="submit" value="Alocar">
				</div>
				
				
			</form>
			
			
			
		</div>

		<!-- <div class="form-inline align-items-center">
			<form th:action="@{/}" method="post"  class="input-group col-md-6" style="padding: 0">
				<div class="form-group" th:object="${residencia}">
					<label for="piso">Piso</label>
					<select name="residencia.quartos.piso" class="form-control">
						<option th:each="residencia : ${residencias}"
							th:value="${residencia.quartos.piso}" th:text="${residencia.quartos.piso}">
						</option>
					</select>
				</div>
				<input class="btn btn-secondary" type="submit" value="Buscar">
			</form>
		</div> -->
		
		<hr style="margin: 10px 0;">
		
		<h3 align="center">Residentes Alocados</h3>
		<!-- Tabela -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Matrícula</th>
					<th scope="col">Nome</th>
					<th scope="col">Curso</th>
					<th scope="col">Alocação</th>
				</tr>
			</thead>
 			<tbody>
				<tr th:each="residente : ${residentesNaoAlocados}">
					<td class="col-md-1" th:text="${residente.matricula}"></td>
					<td class="col-md-4" th:text="${residente.nome}"></td>
					<td class="col-md-3" th:text="${residente.curso}"></td>
					<td>
						<form th:action="@{/}" method="post">
							<input type="hidden" th:field="*{id}">
						
							<input type="number" class="form-control" id="campus" th:field="*{campus}"
		    			placeholder="Campus">
		  					<input type="number" class="form-control" id="piso" th:field="*{piso}"
		    			placeholder="Piso">
		  					<input type="number" class="form-control" id="quarto" th:field="*{quarto}"
		    			placeholder="Quarto">
		    			<input type="text" class="form-control" id="datat" th:field="*{data_termino}" placeholder="Data de término da bolsa">
		    			
							<button type="submit" class="btn btn-warning" style="color: white;"
							onclick="return confirm('Confirmar alocação de residente?')">Alocar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/residencias}" class="btn btn-secondary" style="margin-top: 30px; float: right;">Voltar</a>
	</section>
	
</body>
</html>
