<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
	<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<h1 align="center" style="margin: 60px 0;">Gerenciar Residências</h1>

		<div class="form-inline align-items-center">
			<!-- Busca -->
			<div class="input-group col-md-6" style="padding: 0">
				<input type="text" class="form-control"
					placeholder="Buscar residência" aria-label="Buscar residência"
					aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-secondary" type="button">Buscar</button>
				</div>
			</div>
			<!-- Botões -->
			<div style="margin-left: auto;">
				<a th:href="@{/}" class="btn btn-primary"
					style="margin-right: 10px;">Distribuir Residentes</a> <a
					th:href="@{residencias/nova}" class="btn btn-primary">Adicionar	Residência</a>
			</div>
		</div>

		<!-- Tabela -->
		<table class="table table-striped" style="margin-top: 30px;">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="residencia : ${listaResidencias}">
					<td class="col-md-8" th:text="${residencia.nome}"></td>
					<td>
						<a class="btn btn-secondary" th:href="@{/residencias/detalhes/{id} (id = ${residencia.id})}">Detalhes</a>
						<a class="btn btn-warning" style="margin: 0 10px"
							th:href="@{/residencias/editar/{id} (id = ${residencia.id})}">Editar</a>
						<a class="btn btn-danger" th:href="@{/residencias/remover/{id} (id = ${residencia.id})}">Remover</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
		
</body>
</html>
