<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
		
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<title>SGRUF</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
				<span class="navbar-brand mb-0 h1">Sistema de Gerenciamento dos Residentes da UFRN</span>
			</div>
		</nav>
	</header>

	<div class="container" style="margin-top: 60px;">
		<!-- <div th:if="${success != null}" class="alert alert-success" role="alert"><span th:text="${success}">msg success</span></div>
		<div th:if="${error != null}" class="alert alert-danger" role="alert"><span th:text="${error}">msg error</span></div> -->

		<section layout:fragment="content">
			<p>Aqui é onde muda, o resto é padrão</p>
		</section>
	</div>


</body>
</html>
