<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SGRUF</title>
  </head>
  <body>
  
    <header>
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">Sistema de Gerenciamento dos Residentes da UFRN</a>
			</div>
		</nav>
	</header>

	<div class="container" style="margin-top: 60px;">
		<div th:if="${sucesso != null}" class="alert alert-success" role="alert">
			<span th:text="${sucesso}">Mensagem de sucesso</span>
		</div>
		<div th:if="${erro != null}" class="alert alert-danger" role="alert">
			<span th:text="${erro}">Mensagem de erro</span>
		</div>
		<div th:if="${aviso != null}" class="alert alert-warning" role="alert">
			<span th:text="${aviso}">Mensagem de alerta</span>
		</div>

		<section layout:fragment="content">
			<p>Aqui é onde muda, o resto é padrão</p>
		</section>
	</div>
	
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>