<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
	<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<h1 align="center" style="margin: 60px 0;">Solicitar Serviço</h1>

		<div class="form-inline align-items-center">
			<!-- Busca -->
			<form th:action="@{/solicitacoes/busca}" method="post"  class="input-group col-md-6" style="padding: 0">
				<input type="text" class="form-control" id="chave" name="chave"
					placeholder="Buscar solicitacoes por nome" aria-label="Buscar solicitacoes"
					aria-describedby="basic-addon2">
				<div class="input-group-append">
					<input class="btn btn-secondary" type="submit" value="Buscar">
					<a class="btn btn-success" type="button" th:href=@{/solicitacoes}>Todos</a>
				</div>
			</form>
			<!-- Botões -->
			<div style="margin-left: auto;">
				<a th:href="@{/solicitacoes/nova}" class="btn btn-primary" style="margin: 0 10px">Adicionar	Solicitação</a>
				<a th:href="@{/residentes}" class="btn btn-secondary">Voltar</a>
			</div>
		</div>

		<!-- Tabela -->
		<table class="table table-striped" style="margin-top: 30px;">
			<thead>
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="solicitacao : ${listaSolicitacao}">
					<td class="col-md-8" th:text="${solicitacao.id}"></td>
					<td>
						<a class="btn btn-secondary" th:href="@{/solicitacoes/detalhes/{id} (id = ${solicitacao.id})}">Detalhes</a>
						<a class="btn btn-warning" style="margin: 0 10px"
							th:href="@{/solicitacoes/editar/{id} (id = ${solicitacao.id})}">Editar</a>
						<a class="btn btn-danger" 
							onclick="return confirm('Tem certeza que deseja remover este registro?')"
							th:href="@{/solicitacoes/removerSolicitacaoServico/{id} (id = ${solicitacao.id})}">Remover</a>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
		
</body>
</html>
