<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
	<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<h1 align="center" style="margin: 60px 0;">Gerenciar Residentes</h1>

		<div class="form-inline align-items-center">
			<!-- Busca -->
			<form th:action="@{/residentes/busca}" method="post"  class="input-group col-md-6" style="padding: 0">
				<input type="text" class="form-control" id="chave" name="chave"
					placeholder="Buscar residentes por nome ou matrícula" aria-label="Buscar residentes"
					aria-describedby="basic-addon2">
				<div class="input-group-append">
					<input class="btn btn-secondary" type="submit" value="Buscar">
					<a class="btn btn-success" type="button" th:href=@{/residentes/gerenciar}>Todos</a>
				</div>
			</form>
			<!-- Botões -->
			<div style="margin-left: auto;">
				<a th:href="@{/residentes/novo}" class="btn btn-primary" style="margin: 0 10px">Adicionar Residente</a>
				<a th:href="@{/proae}" class="btn btn-secondary">Voltar</a>
			</div>
		</div>

		<!-- Tabela -->
		<table class="table table-striped" style="margin-top: 30px;">
			<thead>
				<tr>
					<th scope="col">Matrícula</th>
					<th scope="col">Nome</th>
					<th scope="col">Curso</th>
					<th scope="col">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="residente : ${listaResidentes}">
					<td class="col-md-1" th:text="${residente.matricula}"></td>
					<td class="col-md-4" th:text="${residente.nome}"></td>
					<td class="col-md-3" th:text="${residente.curso}"></td>
					<td>
						<a class="btn btn-secondary" th:href="@{/residentes/detalhes/{id} (id = ${residente.id})}" style="color: white">Detalhes</a>
						<a class="btn btn-warning" style="margin: 0 10px; color: white"
							th:href="@{/residentes/editar/{id} (id = ${residente.id})}">Editar</a>
						<a class="btn btn-danger" 
							onclick="return confirm('Tem certeza que deseja remover este registro?')"
							th:href="@{/residentes/remover/{id} (id = ${residente.id})}">Remover</a>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
	
</body>
</html>
