<!-- DESCARTAR ESTE ARQUIVO EM ALGUM MOMENTO -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="" />
<meta name="author" content="" />
<title>Gerência de Residentes</title>
<link rel="stylesheet" type="text/css" href="css_table.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="">Gerência de Residentes <span
				style="font-size: 16px; margin-left: 10px;">Portal da PROAE</span></a>
			<ul class="navbar-nav">
				<li class="nav-item "><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			</ul>
		</div>
	</nav>

	<div layout:fragment="content">
		<h1 align="center" style="margin-bottom: 30px">Gerenciar
			Residentes</h1>
		

			<input type="text" id="busca" placeholder="Pesquise por um nome, usuário ou e-mail">
			<button class="btn btn-primary">Buscar</button>

		<table class="table-fill">
			<thead>
				<tr>
					<th class="text-left">Nome</th>
					<th class="text-left">Usuário</th>
					<th class="text-left">E-mail</th>
					<th class="text-left">Residência</th>
					<th class="text-left">Campus</th>
					<th class="text-left">Piso</th>
					<th class="text-left">Quarto</th>					
					<th class="text-left">Configurar</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr>
					<td class="text-left">PABLO QUIXABEIRA DE OLIVEIRA</td>
					<td class="text-left">pablo_qo</td>
					<td class="text-left">pablo_qo@ufrn.edu.br</td>
					<td class="text-left">Central</td>
					<td class="text-left">2</td>
					<td class="text-left">1</td>
					<td class="text-left">8</td>
					<td class="text-left">Editar / Deletar</td>
				</tr>
				<tr>
					<td class="text-left">DALILA ARAUJO QUEIROZ</td>
					<td class="text-left">dal_queiroz</td>
					<td class="text-left">dalilaqueiroz@gmail.com</td>
					<td class="text-left">Central</td>
					<td class="text-left">4</td>
					<td class="text-left">1</td>
					<td class="text-left">3</td>
					<td class="text-left">Editar / Deletar</td>
				</tr>
				<tr>
					<td class="text-left">CAYRO FERNANDES DE MEDEIROS</td>
					<td class="text-left">cfm_cayro</td>
					<td class="text-left">cfm_cayro@ufrn.edu.br</td>
					<td class="text-left">Biomédica</td>
					<td class="text-left">1</td>
					<td class="text-left">1</td>
					<td class="text-left">1</td>
					<td class="text-left">Editar / Deletar</td>
				</tr>
			</tbody>
		</table>

		<a th:href="@{/proae/cadastrar-residente}" class="btn btn-primary"
			style="margin-right: 100px; float: right;">Cadastrar residente</a>
	</div>


</body>
</html>
