<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
	<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<h1 align="center" style="margin: 30px 0;">Portal PROAE</h1>
		
		<!-- Abas de gerenciamento -->
		<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link" id="residentes-tab"
				data-toggle="tab" href="#residentes" role="tab" aria-controls="residentes"
				aria-selected="true">Gerenciar Residentes</a></li>
			<li class="nav-item"><a class="nav-link" id="residencias-tab"
				data-toggle="tab" href="#residencias" role="tab" aria-controls="residencias"
				aria-selected="false">Gerenciar Residências</a></li>
			<li class="nav-item"><a class="nav-link" id="solicitacoes-tab"
				data-toggle="tab" href="#solicitacoes" role="tab" aria-controls="solicitacoes"
				aria-selected="false">Gerenciar Solicitações</a></li>
			<li class="nav-item"><a class="nav-link" id="relatorios-tab"
				data-toggle="tab" href="#relatorios" role="tab" aria-controls="relatorios"
				aria-selected="false">Gerar Relatório</a></li>
		</ul>
		
		<!-- Conteúdo das abas de gerenciamento -->
		<div class="tab-content" id="myTabContent">
		
			<!-- Gerenciar Residentes -->
			<div class="tab-pane fade" id="residentes" role="tabpanel" aria-labelledby="residentes-tab">
				residentes
			</div>
			
			<!-- Gerenciar Residências -->
			<div class="tab-pane fade" id="residencias" role="tabpanel" aria-labelledby="residencias-tab" style="margin-top: 30px;">
				<a th:href="@{residencias/nova}" class="btn btn-primary btn-block">Cadastrar</a>
			  	<a th:href="@{residencias/remover}" class="btn btn-primary btn-block">Listar</a>
			  	<a th:href="@{/}" class="btn btn-primary btn-block">Distribuir Residentes</a>

				<table class="table table-striped" style="margin-top: 30px;">
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Detalhes</th>
							<th scope="col">Remover</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="residencia : ${listaResidencias}">
							<td th:text="${residencia.nome}"></td>
							<td><a class="btn btn-secondary">Detalhes</a></td>
							<td><a
								th:href="@{/residencias/remover/{id} (id = ${residencia.id})}"
								class="btn btn-danger">Remover</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Gerenciar Solicições -->
			<div class="tab-pane fade" id="solicitacoes" role="tabpanel" aria-labelledby="solicitacoes-tab">
				solicitacoes
			</div>
			
			<!-- Gerar Relatórios -->
			<div class="tab-pane fade" id="relatorios" role="tabpanel" aria-labelledby="relatorios-tab">
				relatorios
			</div>
			
		</div>
	</section>
	 
</body>
</html>

