<!doctype html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
	<meta charset="utf-8">
</head>
<body>
	
	<section layout:fragment="content">
		<h1 align="center" style="margin: 30px 0;">Cadastro de Serviço</h1>
		
		<form th:action="@{/servicos/novo}" th:object="${servico}" method="post">
			<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Insira um nome"
				  style="margin-bottom: 30px;">
			
		  	<button type="submit" class="btn btn-success" style="float: right;">Cadastrar</button>
		  	<a th:href="@{/servicos}" class="btn btn-secondary" style="float: right; margin: 0 20px 30px 0;">Cancelar</a>

		</form>
	</section>
</body>
</html>